{% extends "base.html" %}

{% block content %}
<div class="col-lg-12">
    <a href="/profissionais/new" style="float: right; margin-bottom: 50px;" class="btn btn-primary">Criar um novo profissinal</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Idade</th>
                <th>Sexo</th>
                <th>Localidade</th>
                <th>Telefone</th>
                <th>Email</th>
                <th>Especialidade</th>
                <th>Ações</th>
            </tr>
        </thead>

        <tbody>
            {% for profissional in profissionais %}
                <tr>
                    <td>{{ profissional.nome }}</td>
                    <td>{{ profissional.idade }}</td>
                    <td>{{ profissional.sexo }}</td>
                    <td>{{ profissional.localidade }}</td>
                    <td>{{ profissional.telefone }}</td>
                    <td>{{ profissional.email }}</td>
                    <td>{{ profissional.especialidade }}</td>
                    <td class="nav-item dropdown">                 
                        <a class="dropdown-item" href={{ url_for('findOne', id = profissional._id) }} ><button class="btn btn-info">Visualizar</button></a>                                                                                                                                     
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}