{% extends "base.html" %}

{% block content %}

<h1>Cadastro</h1>
<form action="/profissionais/create" method="POST">
    <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" placeholder="informe seu nome" id="nome" name="nome" class="form-control">
    </div>
    <div class="form-group">
        <label for="idade">Idade</label>
        <input type="text" placeholder="informe sua idade" id="idade" name="idade" class="form-control">
    </div>
    <div class="form-group">
        <label for="sexo">Sexo</label>
        <input type="text" placeholder="informe seu Sexo" id="sexo" name="sexo" class="form-control">
    </div>
    <div class="form-group">
        <label for="localidade">Localidade</label>
        <input type="text" placeholder="informe sua Localidade" id="localidade" name="localidade" class="form-control">
    </div>
    <div class="form-group">
        <label for="telefone">Telefone</label>
        <input type="text" placeholder="informe seu Telefone" id="telefone" name="telefone" class="form-control">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" placeholder="informe seu Email" id="email" name="email" class="form-control">
    </div>
    <div class="form-group">
        <label for="especialidade">Especialidade</label>
        <input type="text" placeholder="informe sua especialidade" id="especialidade" name="especialidade" class="form-control">
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Salvar</button>
    </div>
</form>


{% endblock %}
